.magic-ball-wrapper {
  @apply fixed flex flex-col justify-center items-center right-0 top-1/2 w-60 h-24 bg-slate-700 rounded-xl transition-all translate-x-[90%] ease-in-out duration-300 shadow-xl translate-y-[-50%];

  &.active {
    @apply translate-x-[5%] translate-y-[-50%];
  }

  button.interpret {
    @apply bg-slate-200 text-black px-4 py-2 rounded-lg transition-colors hover:bg-slate-500 hover:text-white;
  }

  span {
    @apply ml-2;
    animation: pulse 3s infinite;
  }
}

@keyframes pulse {
  100% {
    text-shadow: none;
  }
  50% {
    text-shadow: 0px 0px 12px rgb(247, 255, 4);
  }
}
